<h3>Employees</h3>

<div class="table-container mat-elevation-z8">
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{employeeAge(element.dateOfBirth)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hiredDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Hire Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{formatDate(element.hiredDate)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
      <!-- <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell> -->
      <mat-cell *matCellDef="let element">
        <a href="">Options</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
